{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

 {% block body %}
     <div class="container">
         <div class="row mt-5">
             <div class="col-10 mx-auto">
                {#La première section affiche le nombre d'artistes trouvés.#}
                 <h1>Nombre d'artistes trouvés : {{ artistes | length }}</h1> {#Ici, artistes est une variable qui contient un tableau d'objets artistes. Le filtre 'length' est utilisé pour compter le nombre d'éléments dans le tableau#}
                 {#La deuxième section parcourt le tableau des artistes et affiche le nom de chaque artiste et le nombre de disques.#}
                 {% for artiste in artistes %}
                 <span class="d-block">
                     {{ artiste.name |upper }} - <b class="btn-primary p-1">{{ artiste.discs | length }}</b> disques {#Ici, chaque objet artiste possède deux propriétés : le nom et les disques. Le filtre 'upper' est utilisé pour mettre en majuscule le nom de l'artiste et le filtre de 'length' est utilisé pour compter le nombre de disques pour chaque artiste#}
                 </span>
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endblock %}